body {
  background-image: url('images/map1.png');
  background-size: cover;
  background-position: center 25%;
  font-family: monospace;
  font-size: 13px;
}

#text {
  background-color: rgba(5, 73, 15, 0);
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  /* background-color: rgba(84, 81, 77, 0.7); */
  background-image: url('images/river6.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 180px auto 0px;
  padding: 10px;
  border-radius: 10px;
}

#controls,
#stats {
  border: 1px solid #ffffff;
  padding: 5px;
  color: #ffffff;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #2b3c78;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #2d5abc;
  background-image: linear-gradient(#1a3267, #112653);
  border: 3px solid #0f2151;
  font-family: monospace;
  font-size: 13px;
}

#icon{
  height: 11px;
  margin-bottom: -1px;
  margin-left: 2px;
}

/* #slasher{
  width: 300px;
  margin-left: 400px;
}
header{
  width: 100%;
} */